#########################################################################
#     RESUME : Configuration file for FADO @ JMG!                       #
#########################################################################
#     DO NOT CHANGE THE ORDER OF THESE LINES. A brief description of    #
#     the content is available at the end of the file.                  #
#########################################################################
#  VALUE      #    <VARIABLES>   #      Type #        Units #    Line   #
#########################################################################
Version01     #    [CVersion]    #    string #         ---- #    0009   #
10            #    [Fverbose]    #   Integer #         ---- #    0010   #
+4020.000     #    [lbd_norm]    #     float #            Å #    0011   #
+4010.000     #    [llownorm]    #     float #            Å #    0012   #
+4060.000     #    [luppnorm]    #     float #            Å #    0013   #
#########################################################################
-------------------------------------------------------------------------
#########################################################################
#  VALUE      #     <FLAGS>      #     Type  #        Units #    Line   #
#########################################################################
1             #    [IsErroOn]    #   Integer #         ---- #    0019   #
0             #    [IsFlagOn]    #   Integer #         ---- #    0020   #
2             #    [IsKinVOn]    #   Integer #         ---- #    0021   #
0             #    [IsLeakOn]    #   Integer #         ---- #    0022   #
0             #    [IsMaskOn]    #   Integer #         ---- #    0023   #
1             #    [IsNEBcOn]    #   Integer #         ---- #    0024   #
0             #    [IsNEBcPL]    #   Integer #         ---- #    0025   #
3             #    [IsOutput]    #   Integer #         ---- #    0026   #
1             #    [IsPlotOn]    #   Integer #         ---- #    0027   #
1             #    [IsSkipOn]    #   Integer #         ---- #    0028   #
2             #    [Self_Con]    #   Integer #         ---- #    0029   #
0             #    [TypeErro]    #   Integer #         ---- #    0030   #
#########################################################################
-------------------------------------------------------------------------
#########################################################################
#  VALUE      #   <PARAMETERS>   #     Type  #        Units #    Line   #
#########################################################################
+0000.500     #    [fnormlow]    #     float #     Fraction #    0036   #
+0001.500     #    [fnormupp]    #     float #     Fraction #    0037   #
+0000.000     #    [fpopxlow]    #     float #     Fraction #    0038   #
+0001.000     #    [fpopxupp]    #     float #     Fraction #    0039   #
-0000.500     #    [AVredlow]    #     float #          Mag #    0040   #
+0006.000     #    [AVredupp]    #     float #          Mag #    0041   #
-0500.000     #    [v0syslow]    #     float #         km/s #    0042   #
+0500.000     #    [v0sysupp]    #     float #         km/s #    0043   #
+0000.000     #    [vdsyslow]    #     float #         km/s #    0044   #
+0500.000     #    [vdsysupp]    #     float #         km/s #    0045   #
+0000.000     #    [Fill_low]    #     float #     Fraction #    0046   #
+0001.000     #    [Fill_upp]    #     float #     Fraction #    0047   #
+0000.500     #    [Powerlow]    #     float #        index #    0048   #
+0004.000     #    [Powerupp]    #     float #        index #    0049   #
#########################################################################
-------------------------------------------------------------------------
#########################################################################
#  VALUE      #  <FADO FITTING>  #     Type  #        Units #    Line   #
#########################################################################
124357        #    [seed_pop]    #   Integer #         ---- #    0055   #
6             #    [Numloops]    #   Integer #         ---- #    0056   #
7             #    [Nindivid]    #   Integer #         ---- #    0057   #
800           #    [Maxitera]    #   Integer #         ---- #    0058   #
6             #    [strategy]    #   Integer #         ---- #    0059   #
1             #    [PAverage]    #   Integer #         ---- #    0060   #
200           #    [Fresresh]    #   Integer #         ---- #    0061   #
-1.000e-15    #    [FitnessV]    #     float #         ---- #    0062   #
+0000.7500    #    [Cruzover]    #     float #         ---- #    0063   #
+0000.8000    #    [Mutation]    #     float #         ---- #    0064   #
+0000.8000    #    [randomCR]    #     float #         ---- #    0065   #
+1.0000e+2    #    [Tinitial]    #     float #         ---- #    0066   #
+1.0000e-3    #    [T_ending]    #     float #         ---- #    0067   #
+1.3000000    #    [PopConvI]    #     float #         ---- #    0068   #
+1.100000     #    [PopConvF]    #     float #         ---- #    0069   #
+0.0600000    #    [Threshold]   #     float #         ---- #    0070   #
#########################################################################
-------------------------------------------------------------------------
#########################################################################
#  VALUE      #   <AI LEARNING>  #     Type  #        Units #    Line   #
#########################################################################
1             #    [AI_learn]    #   Integer #         ---- #    0076   #
360           #    [Ncluster]    #   Integer #         ---- #    0077   #
+000.00001    #    [del_mean]    #     float #   Percentage #    0078   #
#########################################################################
-------------------------------------------------------------------------
#########################################################################
#  VALUE      #     <NEBULAR>    #     Type  #        Units #    Line   #
#########################################################################
10000.000     #    [Telectro]    #     float #       Kelvin #    0084   #
00100.000     #    [Delectro]    #     float #        1/cm³ #    0085   #
0.0200000     #    [Z_metals]    #     float #      Z=1-x-Y #    0086   #
#########################################################################
-------------------------------------------------------------------------
# MISCELLANEOUS #########################################################
50            #    [N_chunks]    #   integer #         ---- #    0090   #
